.mensaje {
    display: flex;
    
align-items: center;
background-color: #FEF0FD;
margin: 1em 0;
overflow: hidden;


}

.mensajes{
   padding: 1em;
   min-width: 380px;
   overflow-y: scroll;
   height: 1000px;
    background-color: #FEF0FD;
    
}

.mensaje p{
    background-color: white;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 14px;
}

.mensaje img {
    background-color: rgb(208, 208, 208);
    width: 2em;
    height: 2em;
    padding: 5px;
    margin: 5px;
    border-radius: 100%;
}

.galeria{
    
   
   
    
}

.galeria img{
  
    width: 200px;
   
    border-radius: 10px;
}

.dejarMensaje{
    margin: 30px 0px 20px;
}

.dejarMensaje form{
  
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
 
}

input{
    width: 250px;
    height: 30px;
    border: 0;
    border-radius: 8px;
}

main{
    position: relative;
    top: 7.1em;
   box-sizing: content-box;
    display: flex;
    margin: 0 10em;
    min-height: 0;
}

footer{
    position: relative;
    top: 7.1em;
}



