iframe{
    width: 100%;
   
}

section.pregunta div{
    width: 100%;
    
}

section.contactanos{
    display: flex;
    margin: 3em 0em;
    justify-content: space-around;
    align-items: center;
}

div.texto{
    text-align: left;
}

section.contactanos div{
    padding: 3em 5em;
    max-width: 50%;
    width: 30%;
    border-radius: 10px;
   
}

div.formulario{
    background-color: #FEF0FD;
    text-align: center;
}

input{
    width: 90%;
    height: 2.5em;
    margin: 0.4em 0px;
    border: 0px;
    border-radius: 5px;
}

textarea{
    width: 100%;
    margin: 0.4em 0px;
    border: 0px;
    border-radius: 5px;
}

h2{
    color: #abcfd9;
    
}

.preguntas{
    
    
}

.preguntas a{
    text-decoration: none;
    display: block;
    color: #abcfd9;
    
    border-radius: 10px;
    padding: 1em;
   

}

.preguntas h4:hover{
    background-color: #abcfd9;
    color: white;
    transition: 0.1s background-color ease;
    
}

.preguntas h4{
    background-color: #ffffff;
    color: #5091b8;
    padding: 1em;
    border-radius: 10px;
}

.preguntas p{
    padding: 1em;
    
}

.preguntas p:target{
    display: block;

    
}
