main {
    position: relative ;
   
    z-index: 20;
}
header{
    position: absolute;
    height: 200px;
    z-index: 30;
}
section{
   
    margin-bottom: 3em;
}
section.blog {
    width: 100%;
    padding: 0 10em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #FEF0FD;
    margin: 0;    
}

section.blog div{
    width: 50%;
    margin: 3em;
    text-align: center;
}

div.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.blog img{
    width: 250px;
    height: 180px;
    border-radius: 10px;
    margin: 0.2em;
    
}

.blog a{
    margin-top: 2em;
}

.main_index{
    margin: 0;
}

h2{
    text-align: center;
}

.promociones{
    display: flex;
    margin: 0 15em;

    justify-content: space-between;
    flex-direction: row;
    border-radius: 10px;
    
}

.promociones img{
    width: 18%;
    border-radius: 10px;
}

.cont_productos{
    margin: 0 10em;
    text-align: center;
}