main {
  position: relative;
  z-index: 20;
}
header {
  position: absolute;
  height: 200px;
  z-index: 30;
}

section.blog {
  display: flex;
  align-items: center;
  gap: 80px;
  background-color: #fef0fd;
  justify-content: space-around;
  padding: 20px 13em;
}

section.blog div {
  height: auto;
  text-align: center;
  border-radius: 6px;
  background-size: cover;
  background-position: 50%;
  min-width: 200px;
}

div.imagenes {
  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
  grid-template-rows: 150px 150px;
  gap: 6px;
}

.section_productos_index {
  margin-bottom: 30px;
}

.section_promociones {
  padding: 3em 0;
}

.imagenes_1 {
  grid-column: 1 / 3;
}
.imagenes_2 {
  grid-column: 3 / 4;
}
.imagenes_3 {
  grid-row: 2;
  grid-column: 1 / 2;
}
.imagenes_4 {
  grid-row: 2;
  grid-column: 2 / 4;
}

.blog_texto {
  max-width: 50%;
}

.main_index {
  margin: 0;
}

section.blog img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  margin: 0.2em;
}

.blog a {
  margin-top: 2em;
}

h2 {
  text-align: center;
}

.promociones {
  display: flex;
  margin: 0 13em;
  gap: 20px;
  overflow-x: scroll;

  justify-content: space-between;
  flex-direction: row;
}

.promociones::-webkit-scrollbar {
  display: none;
}

.promociones div {
  min-width: 32%;
}

.promociones_card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.promociones_card h4 {
  font-size: 22px;
  color: #abcfd9;
}

@media only screen and (max-width: 1600px) {
  div#texto_sld {
    left: 18%;
  }

  section.blog div {
    min-width: 150px;
  }
}

@media only screen and (max-width: 1500px) {
  div.imagenes {
    padding: 0%;
  }
}

@media only screen and (max-width: 1300px) {
  div#texto_sld {
    box-sizing: border-box;
    left: 0;
    padding: 1em 13em;
    top: 19em;
    width: 100%;
    height: 11em;
  }
  div#texto_sld a {
    display: none;
  }
  #div_sinfondo,
  div#promociones {
    margin: 0 4em;
  }

  #div_sinfondo {
    width: 850px;
  }

  section#blog {
    font-size: 14px;
    padding: 30px 4em;
  }
}

@media only screen and (max-width: 900px) {
  div.imagenes {
    display: none;
  }

  section#blog {
    text-align: center;
  }

  #blog_texto {
    max-width: 100%;
  }

  #div_sinfondo {
    width: 700px;
  }

  div#texto_sld {
    padding: 1em 6em;
  }

  .promociones div {
    min-width: 48%;
    font-size: 14px;
  }

  .promociones_card h4 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 750px) {
  #div_sinfondo,
  div#promociones {
    margin: 0 2em;
  }

  div#texto_sld {
    top: 16em;
    height: 12em;
    padding: 1em 4em;
  }

  #div_sinfondo,
  #slider {
    height: 28em;
  }

  #div_sinfondo {
    width: 580px;
  }

  #promociones img {
    min-width: 150px;
  }
}

@media only screen and (max-width: 600px) {
  div#texto_sld {
    font-size: 14px;
    height: 13em;
    top: 18em;
  }

  div#texto_sld h3 {
    font-size: 50px;
  }

  #div_sinfondo,
  #slider {
    height: 26em;
  }

  #div_sinfondo {
    width: 100%;
    border-radius: 0%;
  }

  .main_index,
  footer {
    top: 91px;
  }
}

@media only screen and (max-width: 500px) {
  div#texto_sld {
    padding: 1em 1.5em;
    height: 12em;
    top: 18em;
  }

  div#texto_sld h3 {
    font-size: 40px;
  }

  .promociones div {
    min-width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  div#texto_sld h3 {
    font-size: 40px;
  }
}
