section.productos {
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: auto auto;
  gap: 8px;
}

section.productos a {
  display: block;
  width: 100%;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(94, 91, 91);
  background-blend-mode: overlay;
  line-height: 9em;
  color: aliceblue;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

main#productos h2 {
  text-align: center;
}

.productos a:hover {
  transform: scale(1.1);
  background-color: rgb(50, 48, 48);
  background-blend-mode: overlay;
  color: white;
  font-weight: 1000;
  transition: 0.4s background-color ease;
  transition: 0.4s transform ease;
}

main#productos {
  margin: 0;
  height: 660px;
  padding: 80px 5% 10px;
}

@media only screen and (max-width: 1200px) {
  section.productos {
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 150px 150px;
  }

  section.productos a {
    line-height: 8em;
  }

  main#productos {
    padding: 120px 5% 10px;
  }
}

@media only screen and (max-width: 1000px) {
  section.productos {
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 150px 150px;
    justify-items: baseline;
  }
  main#productos {
    padding: 80px 5% 10px;
  }
}

@media only screen and (max-width: 800px) {
  section.productos {
    grid-template-columns: 200px 200px;
    grid-template-rows: 150px 150px 150px 150px;
    justify-items: baseline;
  }
  main#productos {
    padding: 80px 5% 10px;
    height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  main#productos {
    padding: 20px 5% 30px;
    height: auto;
  }
  main#productos,
  footer {
    top: 5em;
  }
}

@media only screen and (max-width: 500px) {
  section.productos {
    grid-template-columns: 200px;
    grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px;
    justify-items: baseline;
  }

  main#productos {
    padding: 20px 5% 30px;
    height: auto;
  }
}
